$supports: (rems: true) !default;

@function remove-unit($number){
 @return $number / ($number * 0 + 1);
}

@function has-rem($value) {
  @return unit($value) == 'rem';
}

@function em($value) {
  @return (remove-unit($value) / remove-unit($font-size-base)) * 1em;
}

@function rem($value, $base: $font-size-base) {
  @if map-get($supports, rems) and has-rem($value) {
    @return $value;
  }
  @if map-get($supports, rems) {
    @return (remove-unit($value) / remove-unit($base)) * 1rem;
  }
  @else {
    @return (remove-unit($value) * 1px);
  }
}

@function px($value) {
  @return (remove-unit($value) * $font-size-base);
}
