$box-map: ('spaced': 'margin', 'padded': 'padding')
$position-list: ('top' 'left' 'bottom' 'right')

// Display
+placeholders("block")
  display: block

+placeholders("inline-block")
  display: inline-block


// Size
+placeholders("widest")
  display: block
  width: 100%
  max-width: 100%

+placeholders("tallest")
  display: block
  height: 100%
  max-height: 100%


// Padding / Margin / Spacing
=padded-rows($padding)
  padding-top: $padding
  padding-bottom: $padding

=padded-cols($padding)
  padding-left: $padding
  padding-right: $padding

@each $box-label, $box-property in $box-map

  +placeholders('#{$box-label}')
    #{$box-property}: map-get($sizing-map, 'default')

  +placeholders('#{$box-label}-rows')
    +padded-rows(map-get($sizing-map, 'default'))

  +placeholders('#{$box-label}-cols')
    +padded-rows(map-get($sizing-map, 'default'))

  @each $position in $position-list
    +placeholders('#{$box-label}-#{$position}')
      #{$box-property}-#{$position}: map-get($sizing-map, 'default')

  @each $size-name, $size in $sizing-map
    +placeholders('#{$box-label}-#{$size-name}')
      #{$box-property}: $size

    +placeholders('#{$box-label}-rows-#{size-name}')
      +padded-rows($size)

    +placeholders('#{$box-label}-cols-#{size-name}')
      +padded-rows($size)

    @each $position in $position-list
      +placeholders('#{$box-label}-#{$position}-#{$size-name}')
        #{$box-property}-#{$position}: #{$size}


=inline-blocks-spaced-defaults
  [class*="inline-blocks-spaced"] > *
    letter-spacing: normal

@each $size-name, $size in $sizing-map
  +placeholders('inline-blocks-spaced-#{$size}')
    letter-spacing: $size
    +write-once($ref: 'IBSD')
      +inline-blocks-spaced-defaults

  +placeholders('inline-blocks-spaced-#{$size}')
    letter-spacing: $size
    +write-once($ref: 'IBSD')
      +inline-blocks-spaced-defaults
