/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

[class^="col-"],
[class*=" col-"] {
  display: inline-block;
  min-height: 1px;
  vertical-align: top;
  letter-spacing: normal;
  word-spacing: normal;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: 33.33333%;
}

.col-1-4 {
  width: 25%;
}

.row.cols-to-rows {
  display: block;
  margin-left: 0;
}
.cols-to-rows > * {
  display: block;
  width: 100% !important;
  padding: 0 !important;
}
.cols-to-rows > *:last-child {
  margin-bottom: 0;
}

@media all and (max-width: 479px) {
  .row.cols-to-rows-on-mobile {
    display: block;
    margin-left: 0;
  }
  .cols-to-rows-on-mobile > * {
    display: block;
    width: 100% !important;
    padding: 0 !important;
  }
  .cols-to-rows-on-mobile > *:last-child {
    margin-bottom: 0;
  }
}
@media all and (max-width: 777px) {
  .row.cols-to-rows-on-fablet-down {
    display: block;
    margin-left: 0;
  }
  .cols-to-rows-on-fablet-down > * {
    display: block;
    width: 100% !important;
    padding: 0 !important;
  }
  .cols-to-rows-on-fablet-down > *:last-child {
    margin-bottom: 0;
  }
}
@media all and (max-width: 1039px) {
  .row.cols-to-rows-on-tablet-down {
    display: block;
    margin-left: 0;
  }
  .cols-to-rows-on-tablet-down > * {
    display: block;
    width: 100% !important;
    padding: 0 !important;
  }
  .cols-to-rows-on-tablet-down > *:last-child {
    margin-bottom: 0;
  }
}
.cols-reversed {
  direction: rtl;
}
.cols-reversed > * {
  direction: ltr;
  text-align: left;
}

.cols-spaced-small {
  margin-left: -0.625rem;
}
.cols-spaced-small > * {
  padding-left: 0.625rem;
}

@media all and (min-width: 480px) {
  .cols-spaced-small-on-fablet-up {
    margin-left: -0.625rem;
  }
  .cols-spaced-small-on-fablet-up > * {
    padding-left: 0.625rem;
  }
}
@media all and (min-width: 778px) {
  .cols-spaced-small-on-tablet-up {
    margin-left: -0.625rem;
  }
  .cols-spaced-small-on-tablet-up > * {
    padding-left: 0.625rem;
  }
}
@media all and (min-width: 1040px) {
  .cols-spaced-small-on-desktop-up {
    margin-left: -0.625rem;
  }
  .cols-spaced-small-on-desktop-up > * {
    padding-left: 0.625rem;
  }
}
.cols-spaced {
  margin-left: -1.25rem;
}
.cols-spaced > * {
  padding-left: 1.25rem;
}

@media all and (min-width: 480px) {
  .cols-spaced-on-fablet-up {
    margin-left: -1.25rem;
  }
  .cols-spaced-on-fablet-up > * {
    padding-left: 1.25rem;
  }
}
@media all and (min-width: 778px) {
  .cols-spaced-on-tablet-up {
    margin-left: -1.25rem;
  }
  .cols-spaced-on-tablet-up > * {
    padding-left: 1.25rem;
  }
}
@media all and (min-width: 1040px) {
  .cols-spaced-on-desktop-up {
    margin-left: -1.25rem;
  }
  .cols-spaced-on-desktop-up > * {
    padding-left: 1.25rem;
  }
}
.rows-spaced > .row {
  padding-bottom: 1.25rem;
}
[class*="cols-to-rows"].rows-spaced {
  margin-bottom: -1.25rem;
}
[class*="cols-to-rows"].rows-spaced > * {
  margin-bottom: 1.25rem;
}

.row:before, [class^="col-"]:before,
[class*=" col-"]:before, .row:after, [class^="col-"]:after,
[class*=" col-"]:after {
  content: "";
  display: table;
}
.row:after, [class^="col-"]:after,
[class*=" col-"]:after {
  clear: both;
}

* {
  position: relative;
  box-sizing: border-box;
}

.row {
  letter-spacing: -0.25em;
}
@media all and (max-width: 777px) {
  .row {
    letter-spacing: -0.27em;
  }
}
.row > * {
  letter-spacing: normal;
}

.row.no-cols {
  letter-spacing: normal;
}

.row {
  letter-spacing: -0.3em;
}

* {
  transition: 0.3s;
}

body {
  font-family: sans-serif;
}

.padded {
  padding: 20px;
}

.bg-blue {
  background: #34a7f0;
}

.text-white {
  color: white;
}
