// Unit Loop
$unit-loop: ('none' 'tiny' 'small' 'big' 'bigger' 'huge')

// Position Loop
$position-loop: ('top' 'left' 'bottom' 'right')

// Box model loops
$box-loop: ('spaced': 'margin', 'padded': 'padding')
