=container($max-width, $min-margin: null)
  max-width: $max-width
  margin-left: auto
  margin-right: auto

  @if $min-margin
    +mq($to: $max-width + $min-margin * 2)
      margin-left: $min-margin
      margin-right: $min-margin
