=row-defaults()
  @extend %expanded

  +on("fablet-down")
    > *
      letter-spacing: normal

  &.no-cols
    letter-spacing: normal

=col-defaults()
  [class^="col-"],
  [class*=" col-"]
    @extend %col
    @extend %expanded

+placeholders("col")
  display: inline-block
  min-height: 1px
  vertical-align: top
  letter-spacing: normal
  word-spacing: normal

+placeholders("col-1-2")
  width: 50%

+placeholders("col-1-3")
  width: 33.333333%

+placeholders("col-2-3")
  width: 66.666666%

+placeholders("col-1-4")
  width: 25%

+placeholders("col-3-4")
  width: 75%

+placeholders("col-1-5")
  width: 20%

+placeholders("col-2-5")
  width: 40%

+placeholders("col-3-5")
  width: 60%

+placeholders("col-4-5")
  width: 80%

+placeholders("col-1-6")
  width: 16.666666%

+placeholders("col-5-6")
  width: 83.333333%


// Switch cols to rows (stack 'em)

+placeholders("cols-to-rows")
  &.row
    display: block
    margin-left: 0

  & > *
    display: block
    width: 100% !important // override col width
    padding: 0 !important // override col spacing

    &:last-child
      margin-bottom: 0


// Reverse column order

+placeholders("cols-reversed")
  direction: rtl

  > *
    direction: ltr
    text-align: left


// Equal height columns
// Can't be used with reversed

+placeholders("cols-equal-height")
  display: table-row

  > *
    display: table-cell

  > :first-child
    padding-left: 0


// Column spacing - add gutter

=cols-spaced($gutter)
  margin-left: -$gutter

  & > *
    padding-left: $gutter

+placeholders("cols-spaced-small")
  +cols-spaced(map-get($units, 'small'))

+placeholders("cols-spaced")
  +cols-spaced(map-get($units, 'default'))

+placeholders("cols-spaced-big")
  +cols-spaced(map-get($units, 'big'))

+placeholders("cols-spaced-huge")
  +cols-spaced(map-get($units, 'huge'))


// Row spacing - add baseline gutter

=rows-spaced($_gutter)
  & > .row
    padding-bottom: $_gutter

  // Space cols that have been switched to rows too
  &[class*="cols-to-rows"] > *
    margin-bottom: $_gutter

  // Suck up margin from the last visible child
  // Use negative margin in case the last child isn't visible
  // Use :after in case someone else slaps a margin class on the element
  &:after
    content: ''
    display: table
    margin-bottom: -$_gutter

+placeholders("rows-spaced-small")
  +rows-spaced(map-get($units, 'small'))

+placeholders("rows-spaced")
  +rows-spaced(map-get($units, 'default'))

+placeholders("rows-spaced-big")
  +rows-spaced(map-get($units, 'big'))

+placeholders("rows-spaced-huge")
  +rows-spaced(map-get($units, 'huge'))
